<!doctype html>
<html ng-app="angularTodo">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lista de Pendientes</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body ng-controller="mainController">
	<div class="container">
		<div class="jumbotron text-center">
			<h2>Lista de Pendientes </h2>
			
			<span class="label label-info">Número de pendientes: {{ listas.length }}</span>
		</div>

		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="checkbox" ng-repeat="lista in listas">
					<label>
						<input type="checkbox" ng-click="deleteTodo(lista.id)"> 
						{{ lista.name }}
					</label>
				</div>
			</div>
		</div>

		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" 
								placeholder="Inserta un nuevo pendiente"
								ng-model="formData.name" required>
					</div>
					<button class="btn btn-primary btn-lg" ng-click="createTodo()">Añadir</button>
				</form>
			</div>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="main.js"></script>
</body>
</html>